*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #ffe4ec,
        #fff0f5,
        #fff8f8
    );
}

.container{
    width: 500px;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    padding: 35px;
    border-radius: 30px;
    position: relative;

    border: 2px solid #ffb3c6;

    box-shadow:
        0 0 10px rgba(255,143,171,0.4),
        0 0 20px rgba(255,179,198,0.4),
        0 10px 30px rgba(255,182,193,0.3);

    animation: glow 2s infinite alternate;
}

.container::before{
    content: "❤";
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 40px;
    color: #ff8fab;
}

h2{
    text-align: center;
    color: #ff5d8f;
    margin-bottom: 25px;
    font-size: 28px;
}

label{
    display: block;
    color: #666;
    margin-bottom: 10px;
    font-weight: 600;
}

input[type="number"]{
    width: 100%;
    padding: 14px;
    border: 2px solid #ffd6e0;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

input[type="number"]:focus{
    border-color: #ff8fab;
    box-shadow: 0 0 10px rgba(255,143,171,0.3);
}

input[type="button"]{
    width: 100%;
    margin-top: 18px;
    padding: 14px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(
        135deg,
        #ff8fab,
        #ffb3c6
    );
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

input[type="button"]:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255,143,171,0.4);
}

#result{
    margin-top: 25px;
    background: #fff7fa;
    border: 2px dashed #ffc2d1;
    border-radius: 20px;
    padding: 20px;
    line-height: 2;
    color: #555;
    max-height: 300px;
    overflow-y: auto;
}

#result::-webkit-scrollbar{
    width: 8px;
}

#result::-webkit-scrollbar-thumb{
    background: #ffb3c6;
    border-radius: 10px;
}
@keyframes glow{
    from{
        box-shadow:
            0 0 10px rgba(255,143,171,0.4),
            0 0 20px rgba(255,179,198,0.4),
            0 10px 30px rgba(255,182,193,0.3);
    }

    to{
        box-shadow:
            0 0 20px rgba(223, 151, 169, 0.8),
            0 0 40px rgba(255,179,198,0.8),
            0 0 60px rgba(255,214,224,0.8),
            0 10px 30px rgba(167, 105, 115, 0.3);
    }
}