body {
    background: #eef8fc;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #444;
}

h2.text-center.mb-4 {
    font-size: 2.6rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    color: #4b8fa8;
}

h2.text-center.mb-4::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin: 12px auto 0;
    border-radius: 10px;
    background: #a8f1f3;
}

.text-center.mb-4 button {
    border: none;
    padding: 10px 28px;
    margin: 8px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn-primary {
    background: #16b0f1 !important;
    border-color: #7fc8e8 !important;
}

.btn-danger {
    background: #ff60a2 !important;
    border-color: #f2a7c6 !important;
}

.btn-success {
    background: #00ac8c !important;
    border-color: #8bcfc3 !important;
}

.text-center.mb-4 button:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}

#product-list {
    padding-top: 20px;
    padding-bottom: 40px;
}

.card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(24, 176, 236, 0.15);
    transition: 0.3s;
    height: 100%;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(138, 217, 248, 0.836);
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card-body {
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #4b8fa8;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.95rem;
    color: #777;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
  
    -webkit-box-orient: vertical;
}

.text-danger {
    color: #d886ec !important;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 12px 0;
}

.card-body .btn-primary {
    background: #7fc8e8;
    border: none;
    border-radius: 20px;
    padding: 9px 22px;
    font-weight: 600;
    margin-top: auto;
    transition: 0.3s;
}

.card-body .btn-primary:hover {
    background: #0fb3fa;
}

.card:nth-child(odd) .card-title {
    color: #4b8fa8;
}

.card:nth-child(even) .card-title {
    color: #d98aa8;
}

@media(max-width:768px) {

    h2.text-center.mb-4 {
        font-size: 2rem;
    }

    .text-center.mb-4 button {
        width: 90%;
        margin: 5px auto;
    }

    .card-img-top {
        height: 190px;
    }
}